<div class="ui raised segment">
  <i class="large close icon" {{action "close"}}></i>

  <div class="ui left floated header">Edit Pipeline: {{model.name}}</div>

  <div class="ui hidden clearing divider"></div>

  {{#if definitionFetcher.isRunning}}
    <div class="ui center aligned basic segment">
      <div class="ui tiny text active inline loader">Loading</div>
    </div>
  {{else}}
    {{#if definition}}
      <div class="ui form">
        <div class="grouped fields">
          {{#each-in commitOptions as |value label|}}
            <div class="field">
              <div class="ui  radio checkbox">
                <input type="radio" name="commitOption" value={{value}} {{action "selectCommitOption" value preventDefault=false}}>
                <label>{{label}}</label>
              </div>
            </div>
          {{/each-in}}

          {{#if willPullRequest}}
            <div class="field">
              <label>Branch Name</label>
              {{input placeholder="New Branch Name" value=commitOption.branch_name}}
            </div>
          {{/if}}

          <div class="field">
              <label>Commit Message</label>
            {{input placeholder="Commit Message" value=commitOption.message}}
          </div>
        </div>
        <div class="field">
          <label>Definition</label>
          {{textarea value=definition.decodedContent rows="15" class="pre"}}
        </div>

        <button class="ui positive small right labeled icon button {{if definitionUpdater.isRunning 'disabled'}}" {{action 'updateDefinition'}}>
          Update<i class="{{if definitionUpdater.isIdle 'checkmark' 'loading spinner'}} icon"></i>
        </button>
      </div>
    {{else}}
      <div class="ui center aligned basic segment">
        <em>Definition file not yet created.</em>
        {{!-- <button class="ui small button" {{action 'createDefinition'}}>Create Definition</button> --}}
      </div>
    {{/if}}
  {{/if}}

</div>
