<div class="content">
  {{#if model.builds.isPending}}
    <div class="ui active mini right floated inline loader"></div>
  {{else if latestBuild}}
    <span class="right floated">#{{latestBuild.number}}</span>
  {{/if}}

  <div class="header">{{model.name}}</div>
  <div class="description"></div>
</div>

{{#if model.builds.isFulfilled}}
<div class="extra content">
  <div class="ui horizontal list">
  {{#if latestBuild}}
    <div class="item"><strong>Commit</strong> {{latestBuild.commitSHA}}</div>
  {{else}}
    <div class="item">No builds yet.</div>
  {{/if}}
  </div>
</div>
{{/if}}
