<div class="two column row">
  <div class="left floated column">
    <div class="ui large header breadcrumb">
      {{#link-to 'pipelines' class="section"}}<h1>Pipelines</h1>{{/link-to}}
      <i class="right chevron icon divider"></i>
      <div class="section">{{pipeline.name}}</div>
      {{#if model}}
      <i class="right chevron icon divider"></i>
      <div class="active section">Build #{{model.number}}</div>
      {{/if}}
    </div>
  </div>
  <div class="right floated column">
    <button class="right floated ui in-header icon button" data-content="Trigger Pipeline" {{action "confirmCreateBuild"}}><i class="plus icon"></i></button>
    <button class="right floated ui in-header {{if isEditingPipeline 'lightgrey'}} icon button" data-content="Edit Pipeline" {{action "editPipeline"}}><i class="edit icon"></i></button>
    <button class="right floated ui in-header {{if isViewingPipelineDetails 'lightgrey'}} icon button" data-content="Pipeline Details" {{action "viewPipelineDetails"}}><i class="unhide icon"></i></button>
    {{#if model}}
      {{#ui-promise-dropdown class="right floated ui right pointing icon button" disabled=infoBoxVisible waitList=pipeline.builds onChange=(action "selectBuild") selected=buildNumber}}
        <i class="history icon"></i>
        <div class="menu">
        {{#each all as |b|}}
          <div class="item" data-value={{b.number}}>
            <div class="ui {{b.status}} empty circular label"></div>
            Build #{{b.number}}
          </div>
        {{/each}}
        </div>
      {{/ui-promise-dropdown}}
    {{/if}}
  </div>
</div>

<div class="sixteen wide column pipeline-build full-height">
  {{#if model}}
    {{#if model.stages}}
      <ul class="stages">
      {{#each model.stages as |stage|}}
        {{build-stage model=stage build=model pipeline=pipeline selectStage=(action 'selectStage')}}
      {{/each}}
      </ul>
      {{#if selectedStage}}
        {{stage-details model=selectedStage build=model pipeline=pipeline close=(action 'unselectStage') }}
      {{/if}}
    {{else}}
      <div class="ui center aligned segment">No stages found for build.</div>
    {{/if}}
  {{else}}
    {{#if buildFetcher.isRunning}}
      <div class="ui center aligned very padded basic segment">
        <div class="ui tiny text active inline loader">Loading</div>
      </div>
    {{else}}
      <div class="ui center aligned segment">No builds yet.</div>
    {{/if}}
  {{/if}}

  {{#if isViewingPipelineDetails}}
    {{pipeline-details model=pipeline build=model close=(action 'closePipelineDetails') }}
  {{/if}}
  {{#if isEditingPipeline}}
    {{pipeline-editor model=pipeline close=(action 'closePipelineEditor') }}
  {{/if}}
</div>

{{#ui-modal name="create-build-confirmation" class="small create-build-confirmation" closable=false onApprove=(action "createBuild") }}
  <div class="header">Create Build</div>
  <div class="content">Are you sure you want to create a build for {{pipeline.name}}?</div>
  <div class="actions">
    <div class="ui negative small button">No</div>
    <div class="ui positive right labeled icon small button">Yes<i class="checkmark icon"></i></div>
  </div>
{{/ui-modal}}
