<div class="content">
  <h4><i class="{{statusIcon}} status icon"></i> {{model.name}}</h4>

  <div class="description">
    {{#if model.latest_build}}
    <div class="ui basic segment">
      <p>
        <strong>Commit</strong> <a href="{{githubCommitLink}}" target="_blank">{{latestBuildCommit}}</a> by <a href="{{githubUserLink}}" target="_blank">{{latestBuild.author}}</a>
      </p>
      <p>
        <strong>Duration</strong> {{duration latestBuild.started latestBuild.finished}}
      </p>
    </div>
    {{else}}
    <div class="ui basic segment">
      <p>
        <em>No builds yet.</em>
      </p>
    </div>
    {{/if}}
  </div>
</div>

{{#if latestBuild}}
<div class="extra content">
  <p>
    <strong># {{latestBuild.number}}</strong>
  </p>
</div>
{{/if}}
