<div class="ui segment">
  <i class="small close icon" {{action "close"}}></i>

  <div class="ui basic clearing segment">
    <div class="ui right floated small header">{{stage.current.status}}</div>
    <div class="ui left floated header">Stage {{stage.current.index}}: {{stage.current.name}}</div>
  </div>

  <table class="ui small very basic table">
    <tr><td class="two wide">Type:</td><td>{{stage.current.type}}</td></tr>
    <tr><td class="two wide">Namespace:</td><td>{{stage.current.pod_namespace}}</td></tr>
    {{#if stage.current.pod_name}}
    <tr><td class="two wide">Pod Name:</td><td>{{stage.current.pod_name}}</td></tr>
    {{/if}}
    {{#if stage.current.job_name}}
    <tr><td class="two wide">Job Name:</td><td>{{stage.current.job_name}}</td></tr>
    {{/if}}
  </table>

  <div class="ui hidden divider"></div>

  {{#if stage.current.logFetcher.isRunning}}
    <div class="ui active mini inline loader"></div>

  {{else if stage.current.logFiles.length}}
    <div class="ui top attached stackable menu stage-tabs">
      {{#each stage.current.logFiles as |logFile|}}
        <a class="item" data-tab={{logFile.title}} {{action "showLogs" logFile}}>{{logFile.title}}</a>
      {{/each}}
    </div>
    {{#each stage.current.logFiles as |logFile|}}
    <div class="ui bottom attached segment tab" data-tab={{logFile.title}}>
      <pre>{{logFile.details}}</pre>
    </div>
    {{/each}}

  {{else if stage.current.podLogs.length}}
    <div class="ui top attached stackable menu stage-tabs">
      {{#each stage.current.podLogs as |podLog|}}
        <a class="item" data-tab={{podLog.title}} {{action "showLogs" podLog}}>{{podLog.title}}</a>
      {{/each}}
    </div>
    {{#each stage.current.podLogs as |podLog|}}
    <div class="ui bottom attached segment tab" data-tab={{podLog.title}}>
      <pre>{{podLog.details}}</pre>
    </div>
    {{/each}}

  {{/if}}

</div>
